*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
lambda/*.zip
.env
*.pem
*.key
retail-store-sample-app/
lbc-iam-policy.json
plan.txt
terraform/plan.txt
terraform/iam_policy.json
terraform/modules/serverless/lambda.zip
*.zip
